<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/solve.css">
    <script src="../js/AO5finder.js"></script>
    <script src="../js/scrambler.js"></script>
    <title>Solve 1 - WCA Simulator</title>
</head>
<body>
    <p id="scramble"></p>
    <p id="time"><b id="timeText">--:--</b></p>
    <p id="ao5"><b><mark id="avgParaText">Press space to begin your solve. Press any key to end your solve. You cannot click to end your solve.</mark></b></p>
    <script src="../js/solveNumber.js"></script>
    <script src="../js/solvePage.js"></script>
</body>
</html>