<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/articles.css">
    <link rel="stylesheet" href="../css/wcaBtns.css">
    <title>What is WCA? - WCA Simulator</title>
    <style>
        ::-webkit-scrollbar {
            width: 10px;
            background-color: rgb(171, 164, 164);
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgb(108, 107, 107);
            border-radius: 10px;
        }
    </style>
    <link rel="shortcut icon" href="assets/imgs/favicon.png" type="image/png">
</head>
<body>
    <p>The World Cube Association (WCA) is the global organization that governs official Rubik's Cube Competitions, sets the rules, and maintains world records for twisty puzzles. It's the reason cubing is a real sport, not just a hobby.</p>
    <br>
    <h3>What is the WCA?</h3>
    <p>The World Cube Association (WCA) is a non-profit organization that oversees competitive events for puzzles like the Rubik’s Cube and its many variants — 2×2, 4×4, Pyraminx, Skewb, and more. Founded in 2004 by <b>Ron van Bruchem</b> and <b>Tyson Mao</b>, the WCA was created to bring structure, fairness, and global recognition to the growing world of speedcubing.</p>
    <br>
    <br>
    <h3>What does the WCA Do?</h3>
    <p>Here's what the WCA is responsible for:</p>
    <ul>
        <li>Organizing official competitions around the world — from local meets to world championships.</li>
        <li>Standardizing rules for how puzzles are scrambled, timed, and judged.</li>
        <li>Maintaining leaderboards and world records for all official events.</li>
        <li>Training and certifying delegates who ensure competitions follow WCA regulations.</li>
        <li>Promoting cubing as a sport, not just a passtime.</li>
    </ul>
    <br>
    <h3>Official WCA Events</h3>
    <p>The WCA governs 17 official events, all falling under the "twisty puzzle" or mechanical puzzle category</p>
    <table>
        <tr>
            <th>Event</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>2x2 Cube</td>
            <td>Mini Cube variant</td>
        </tr>
        <tr>
            <td>3x3 Cube</td>
            <td>The classic Rubik's Cube</td>
        </tr>
        <tr>
            <td>4x4 Cube</td>
            <td>Larger cube variant</td>
        </tr>
        <tr>
            <td>5x5 Cube</td>
            <td>Larger cube variant</td>
        </tr>
        <tr>
            <td>6x6 Cube</td>
            <td>Larger cube variant</td>
        </tr>
        <tr>
            <td>7x7 Cube</td>
            <td>Larger cube variant</td>
        </tr>
        <tr>
            <td>3x3 One-Handed</td>
            <td>Solve using only one hand</td>
        </tr>
        <tr>
            <td>3x3 Fewest Moves</td>
            <td>Solve in the least moves possible</td>
        </tr>
        <tr>
            <td>3x3 Blindfolded</td>
            <td>Solve without sight</td>
        </tr>
        <tr>
            <td>4x4 Blindfolded</td>
            <td>Blindfolded solve of 4x4</td>
        </tr>
        <tr>
            <td>5x5 One-Handed</td>
            <td>Blindfolded solve of 5x5</td>
        </tr>
        <tr>
            <td>Pyraminx</td>
            <td>Triangular pyramind puzzle</td>
        </tr>
        <tr>
            <td>Megaminx</td>
            <td>Dodecahedron puzzle</td>
        </tr>
        <tr>
            <td>Skewb</td>
            <td>Solve using only one hand</td>
        </tr>
        <tr>
            <td>Square-1</td>
            <td>Solve using only one hand</td>
        </tr>
        <tr>
            <td>Clock</td>
            <td>Mechanical puzzle with dials</td>
        </tr>
        <tr>
            <td>Multi-Blind</td>
            <td>Solve multiple cubes blindfolded</td>
        </tr>
    </table>
    <br>
    <br>
    <h3>How Big is The WCA?</h3>
    <p>As of 2025, the WCA has hosted <b>thousands of competiions</b> across <b>100+ countries</b>, with over <b>200,000 registered competitors</b>. It's run by a board of directors, committees, and hundreds of certified delegates who ensure every competition meets global standards.</p>
    <br>
    <h3>What Makes a Solve "Official"?</h3>
    <p>To be recongnized by the WCA:</p>
    <ul>
        <li>The solve must happen at a WCA-sanctioned event.</li>
        <li>The puzzle must be scrambled using official algorithms.</li>
        <li>The timer must be a WCA-approved Stackmat timer.</li>
        <li>The solve must be judged by a certified delegate.</li>
    </ul>
    <p>Only then can your time be added to the global rankings.</p>
    <br>
    <br>
    <h3>Why does the WCA Matter?</h3>
    <p>Without the WCA:</p>
    <ul>
        <li>There'd be no consistent rules.</li>
        <li>World records wouldn't be verified.</li>
        <li>Cubing wouldn't be a recognized sport.</li>
    </ul>
    <p>With the WCA, cubing has become a global comepetitive scene — complete with ranking, rivalries, and championship titles.</p>
    <br>
    <h3>Want to Compete?</h3>
    <p>You don't need to be a pro. Anyone can register for a WCA competition, get a WCA ID and start building their official statistics. It's the best way to meet other cubers, test your skills, and join the global cubing community.</p>
    <br>
    <p>You can learn more or find competitions near you at the <a target="_blank" href="https://www.worldcubeassociation.org">official WCA website</a>.</p>
    <a id=backBtn href="../../index.html"><button id="back"><img src="../imgs/backBtnImg.png" alt="Back Icon" id="backImg"></button></a>
    <a id="startCubeAnchor" href="getStarted.html"><button id="startCube"><span id="startCubeText">START CUBING TODAY!</span></button></a>
</body>
</html>